:root {
  --primary-color: #6C63FF;
  --primary-color-hover: #5850DD;
  --secondary-color: #CDCDCD;
  --secondary-color-hover: #b2aeae;
  --danger-color: #E50000;
  --background-color: #F7F7F7;
  --text-color: #252525;
  --text-color-button: #F7F7F7;
  --font-main: 'Kanit', sans-serif;
  --radius: 5px;
}

.dark-mode {
  --background-color: #252525;
  --text-color: #F7F7F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body {
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

header {
  width: 100%;
  max-width: 47rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--text-color);
}

main {
  flex-grow: 5;
  width: 100%;
  max-width: 47rem;
  padding-bottom: 5rem;
}

button, select {
  background-color: var(--primary-color);
  color: var(--text-color-button);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover, select:hover {
  background-color: var(--primary-color-hover);
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

#color-mode-button, #search-filter {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  height: 2.8em;
  flex-shrink: 0;
}

#search-filter {
  min-width: 4rem;
}

#color-mode-button {
  width: 2.8em;
}

#color-mode-button .icon-color-mode {
  font-size: 1.6em;
  color: var(--text-color-button);
}

#search-input {
  padding: 0.6em;
  border: 1px solid var(--primary-color);
  border-radius: var(--radius);
  width: 100%; 
  background-color: var(--background-color);
  color: var(--text-color);
}

#search-input::placeholder{
  color: var(--secondary-color);
}

#create-task-button {
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  position: fixed; 
  bottom: 3rem;
  right: 3rem;
}

.empty-list-img {
  width: 26rem;
  opacity: 0.6;
  margin: 5rem auto;
  display: block; 
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border-color: var(--primary-color-hover);
  box-shadow: 0 0 5px var(--primary-color-hover);
}


/*========= Modal =======*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}

.modal__modal-content {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1.5rem;
  border-radius: var(--radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 33rem;
}

.modal-content__controls{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.button-type-2 {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: var(--radius);
  border: 2px solid var(--primary-color);
}

.button-type-2:hover {
  background-color: var(--primary-color);
  color: var(--text-color-button);
}

.modal-content__controls button {
  padding : 0.5rem 1rem;
  flex-grow: 1; 
}

.modal h2 {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 1em;
}

.task-form__task-title {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: var(--radius);
  background-color: var(--background-color);
  color: var(--text-color);
  margin-bottom: 1.5em; 
}

.task-form__task-title::placeholder {
  color: var(--secondary-color);
}


/* ====== list ========== */
main ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  width: 100%;
}

main li {
  border-bottom: 1px solid var(--primary-color);
}

.button-task-panel {
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1.2em;
  padding: 0.3em;
  width: auto;
}

.button-task-panel:hover {
  color: var(--secondary-color-hover);
  background-color: transparent;
}

.task-item > span:first-child {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.task-item__checkbox {
    width: 1.1rem;
    height: 1.1rem;
    accent-color: var(--primary-color); 
    margin-right: 0.8em;
}

.task-item__title {
  font-weight: normal;
  font-size: 1.2em;
  color: var(--text-color);
  transition: all 0.3s ease;
}

.task-item__checkbox:checked + .task-item__title {
  text-decoration: line-through;
  color: var(--secondary-color); 
}

.task-item__buttons-container {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
}


@media (max-width: 768px) {
  header {
    padding: 1rem 0;
  }
  
  .search-container {
    flex-direction: column;
    gap: 1rem;
  }

  #search-input {
    width: 100%;
  }

  #search-filter, #color-mode-button {
    width: 100%;
  }

  .search-container > *:nth-child(2), .search-container > *:nth-child(3) {
      width: 50%;
  }
  
  .search-container > *:nth-child(2) {
      margin-right: 0.5rem;
  }

  .search-container > *:last-child {
      margin-left: 0.5rem;
  }

  .search-container div:nth-child(2) { 
      display: flex;
      width: 100%;
  }

  #create-task-button {
    bottom: 1.5rem;
    right: 1.5rem;
    font-size: 1.4rem;
    padding: 0.4rem;
  }
  
  .empty-list-img {
    width: 18rem;
  }
}